#markdown .code-preview {
  overflow: auto;
  background-color: rgb(1, 22, 39);
}

#markdown .token:last-child {
  padding-right: 2rem;
}

#markdown code {
  padding: 0.25rem;
  margin: 0 0.1rem;
  background-color: #e2e8f0 ;
  font-size: 0.9rem;
}

#markdown blockquote {
  border-left: solid 0.25rem #718096;
  padding-left: 1rem;
  color: #718096;
}
