#markdown h2 {
  margin: 2.75rem 0 1rem 0;
  font-size: 2.25rem;
  border-bottom: 0.25rem solid #718096;
}

#markdown h3 {
  margin: 2.5rem 0 1rem 0;
  font-size: 1.8rem;
}

#markdown h4 {
  margin: 2rem 0 0.2rem 0;
  font-size: 1.25rem;
}

#markdown p {
  line-height: 1.80rem;
  margin-top: 1.5rem;
}

#markdown a {
  color: #3182ce;
  text-decoration: underline;
}

#markdown ul,
#markdown ol {
  margin: 2rem 2.5rem 2rem 2.5rem;
}

#markdown ul li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

#markdown ol li {
  list-style: decimal;
  margin-bottom: 0.25rem;
}

#markdown .code-preview {
  overflow: auto;
  background-color: rgb(1, 22, 39);
  border-radius: 0.375rem;
  margin: 1.25rem 0;
  padding: 1.25rem 0 0 2rem;
}

#markdown .token:last-child {
  padding-right: 2rem;
}

#markdown code {
  padding: 0.25rem;
  margin: 0 0.1rem;
  background-color: #e2e8f0 ;
  font-size: 0.9rem;
}

#markdown blockquote {
  border-left: solid 0.25rem #718096;
  padding-left: 1rem;
  color: #718096;
}

